[Unit]
Description=Aliexpress Coin Bot

[Service]
Type=oneshot
User=root
ExecStart=/bin/bash /var/aliexpress-coin/aliexpress-coin.sh

[Install]
WantedBy=multi-user.target
